ipykernel==6.29.0
matplotlib==3.8.2
numpy>=1.22.4,<1.25
pandas>=2.1.0
scipy>=1.12.0
opencv-python>=4.10.0.82
tensorflow[and-cuda]
wget==3.2
tensorflow-object-detection-api==0.1.1
protobuf
avro-python3
apache-beam
pillow
lxml
Cython
contextlib2
tf-slim
six
pycocotools
lvis
tf-models-official>=2.5.1
tensorflow_io
keras
pyparsing==2.4.7
sacrebleu<=2.2.0
